<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>
<body>
   
    <h1>Welcome, <%= user.name %></h1>
    <h3>User Email : <%= user.email %></h3>
    <h3>Country : <%= user.country %></h3>
    <h3>Skills : </h3>
    <ul><% user.skills.forEach((item) => {  %>
            <li><%= item  %></li>
        <% }) %>
    </ul>
   

</body>
</html>